
.social {
	margin-bottom: 10px;

	.genericon {
		color: #777;
		height: 35px;
		font-size: 35px;
		width: 35px;
		text-align: center;
		margin-left: 7px;

		&:first-child {
			margin-left: auto;
		}
	}

	.genericon-wordpress:before {
		color: #21759b;
	}

	.genericon-twitter:before {
		color: #33ccff;
	}

	.genericon-googleplus:before {
		color: #dd4b39;
	}

	.genericon-github:before {
		color: #171515;
	}
}
